<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header class="top-wrapper">
    <div class="top-detail">
        <h2 class="subtitle">A Shopping List App</h2>
        <h1 class="title">LIST</h1>
        <p class="description">
            LIST lets you create and manage your shopping list easily.
            <br>
            Add items you want anytime, anywhere.
        </p>
        <a class="index-button">View your list</a>
    </div>
    <div class="top-image">
        <img src="/images/top.png">
    </div>
</header>
</body>
</html>

