<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LIST</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<header>
    <a class="header-logo" href="/">HOME</a>
    <a class="header-logo" href="/list">LIST</a>
</header>
<div class="container">
    <div class="container-header">
        <h1>Shopping List</h1>
        <button type="button" id="new-item" data-toggle="modal"
                data-target="#addNewItem">+ Add item
        </button>
    </div>
    <div class="index-table-wrapper">
        <div class="table-head">
            <span class="id-column">ID</span>
            <span>Item</span>
        </div>
        <ul class="table-body" id="table-body">
            <% for (let i = 1; i <= items.length; i++) { %>
                <li data-id='<%= items[i - 1]._id %>'>
                    <span class="id-column"><%= i %></span>
                    <span class="name-column"><%= items[i - 1].name %></span>
                    <span class="fa-check">&#10003;</span>
                </li>
            <% } %>
        </ul>
    </div>
</div>
<!-- Add New Item Modal -->
<div class="modal fade" id="addNewItem" tabindex="-1" role="dialog" aria-labelledby="addNewItemTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">New Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-item-form">
                    <div class="form-group">
                        <label for="item-name">Name</label>
                        <input type="text" class="form-control" id="item-name" placeholder="Enter item's name ..."
                               required>
                        <small id="item-name-error" class="hidden">Item already exists.</small>
                    </div>
                    <div class="modal-btn-holder">
                        <button type="submit" class="btn btn-primary" id="add-item">Add</button>
                        <button type="button" id="close-add-modal" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Update item modal -->
<div class="modal fade" id="updateItem" tabindex="-1" role="dialog" aria-labelledby="updateItemTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Update Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-item-form">
                    <div class="form-group">
                        <label for="new-name">Name</label>
                        <input type="text" class="form-control" id="new-name" required>
                        <small id="new-name-error" class="hidden">Item already exists.</small>
                    </div>
                    <div class="modal-btn-holder">
                        <button type="submit" class="btn btn-primary" id="update-item">Update</button>
                        <button type="button" id="close-update-modal" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--&lt;!&ndash; JS, Popper.js, and jQuery &ndash;&gt;-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous" defer></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous" defer></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous" defer></script>
<script src="/js/add_item.js" type="module"></script>
<script src="/js/delete_update_item.js" type="module"></script>
</body>
</html>